@import "tailwindcss";

:root {
  --color-blue: #0abde3;
  --color-blue-light: #9de4f3;
  --color-blue-dark: #546de5;
}

@layer base {
  .bg-sofa-1 {
    background-image: url("../public/images/sofa1.jpg");
  }
  .bg-sofa-2 {
    background-image: url("../public/images/sofa2.jpg");
  }
  .bg-sofa-3 {
    background-image: url("../public/images/sofa3.jpg");
  }
  .bg-sofa-4 {
    background-image: url("../public/images/sofa4.jpg");
  }
  .bg-sofa-5 {
    background-image: url("../public/images/sofa5.jpg");
  }
}
